Project-1-Eskiner/Eskiner Package/main/default/flows/Order_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Variables_to_Order_List</name>
        <label>Variables to Order List</label>
        <locationX>786</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>Insert_Item.Items_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>item_price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_Item.itemTypeText__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>type_of_text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insert_Item.Items_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>item_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Track_Record</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>insert_Order_Item</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Order_Track__c</object>
        <outputAssignments>
            <assignToReference>item_name</assignToReference>
            <field>Items_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>item_price</assignToReference>
            <field>Items_Price__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>type_of_text</assignToReference>
            <field>itemTypeText__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>orderChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Order</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recordChoicePicker</name>
        <dataType>String</dataType>
        <displayField>Item_Name__c</displayField>
        <object>Seller_Inventory__c</object>
        <outputAssignments>
            <assignToReference>item_name</assignToReference>
            <field>Item_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>item_price</assignToReference>
            <field>Item_Price__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>type_of_text</assignToReference>
            <field>Item_Type__c</field>
        </outputAssignments>
        <sortField>Item_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Order Items {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Order Items</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Order_Track_Record</name>
        <label>Order_Track_Record</label>
        <locationX>626</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Order_Being_Tracked</targetReference>
        </connector>
        <inputReference>Insert_Item</inputReference>
    </recordCreates>
    <screens>
        <name>insertOrderScreen</name>
        <label>insertOrderScreen</label>
        <locationX>347</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Variables_to_Order_List</targetReference>
        </connector>
        <fields>
            <name>Order_Picker</name>
            <choiceReferences>recordChoicePicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose the item you wish to order!</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Order_Being_Tracked</name>
        <label>Order Being Tracked!</label>
        <locationX>915</locationX>
        <locationY>77</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Order_Info</name>
            <fieldText>&lt;p&gt;You&apos;re created your order, its now viewable in the Order Tracker!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>194</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>insertOrderScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Insert_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order_Track__c</objectType>
    </variables>
    <variables>
        <name>item_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>item_price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>type_of_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
